<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ruby Special Files</string>
	<key>ordering</key>
	<array>
		<string>1676D27A-49ED-416E-8EC2-E2892FF4AC21</string>
		<string>FD861164-D42D-43B7-8F3B-8DBFB3963B66</string>
		<string>4257B963-143C-4425-8E9A-0BE6F7C0F6BA</string>
		<string>6B074D1D-42A1-4EB2-9990-F1A73233C9D8</string>
	</array>
	<key>uuid</key>
	<string>9916E473-3FD5-4C9E-B138-9F586E9B5455</string>
</dict>
</plist>
